.sec-heading{
    font-size:var(--h2-font-size);
    font-weight: var(--font-weight-bold);
    color: #000000;
}
header{
    background-image: url(../images/header/priscilla-du-preez-W3SEyZODn8U-unsplash.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
    position: relative;
}
header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--dark-color), transparent 100%);
    top: 0;
    right: 0;
    z-index: 0;
}
header div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
}
header div h1{
    font-size:var(--h1-font-size);
    margin: 0;
    margin-bottom: 15px;
    font-weight:bold;
}
header div p{
    font-size: 16px;
    font-weight:bold;
}

@media (max-width: 767.98px) { 
    header div h1{
        font-size: 45px;
    }
    .sec-heading{
        font-size: 40px;
    }
}
img{
    transition: 0.5s;
}
.news .img-cont::before{
    content: '';
    background: linear-gradient(to top, var(--dark-color), transparent 15%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
}
.img-cont:hover img{
    transform: scale(1.5);
}
.news .about{
    position: absolute;
    bottom: 0;
    z-index: 5;
    color: white;
    padding: 25px 15px;
}
.news .about p{
    background-color: var(--primary-color);
    padding: 7px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    text-transform: capitalize;
    width: fit-content;
}
.news .about h4{
    font-weight:var(--font-weight-semibold);
    font-size: var(--h4-font-size);
}
.news-event .about-small{
    padding:25px 15px;
    font-weight: bold;
}

.news-event .about-small h4 a{
    text-decoration: none;
    color: #000;
}
.news-event .about-small h4 a:hover{
    color : var(--primary-color)
}

.news-event .about-small span{
    background-color:#34d4d4;
    padding: 7px 10px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    margin-right: 1rem;
    font-weight:normal
}

footer ul li a i{
    font-size: 25px;
    color: var(--p-color);
}
footer li:hover i{
    color: white;
}