header{
    height: calc(100vh - 88px);
}
.header-back{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--dark-color), transparent 100%);
}
video{
    object-fit: cover;
}

header .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

header .container h1{
    font-size: var(--h1-font-size);
    font-weight: bold;
    margin: 0;
    margin-bottom: 15px;
}
header .container .rate{
    font-size: 25px;
    font-weight: var(--font-weight-semibold);
}
header .container span svg{
    color:var(--secondary-color)
}
header .container p{
    font-size: 20px;
}
header .container .controls{
    position: absolute;
    bottom:0;
    right: 12px;
    display:flex;
}
header .container button{
    padding: 20px 20px;
    border: 0;
    color: white;
}
header .container button:first-child{
    background-color: var(--secondary-color);
}
header .container button:last-child{
    background-color: var(--primary-color);
}
header .container button:hover{
    background-color: #000;
}
header img{
    transition:0.5s;
}
.fadee {
  animation-name: fadee;
  animation-duration: 1.5s;
}

@keyframes fadee {
  from {opacity: .4} 
  to {opacity: 1}
}
.special-header{
    font-size:var(--h2-font-size);
    font-weight:var(--font-weight-bold);
    color: #000;
}

@media (max-width: 767.98px) { 
    .special-header{
        font-size: 40px;
    }
    header .container h1{
        font-size: 65px;
    }
}
.special-menus .container section{
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: var(--secondary-color);
    padding: 7px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    text-transform: capitalize;
}
.about{
    padding:25px 15px;
}
.about h3{
    font-weight: var(--font-weight-semibold);
}
.about svg{
    color: var(--secondary-color);
}
.Bimg{
    background-image: url(../images/alex-haney-CAhjZmVk5H4-unsplash.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
.news .img-cont:hover img{
    transform: scale(1.5);
}
.news img{
    transition: 0.5s;
}
.news .about{
    position: absolute;
    bottom: 0;
    z-index: 5;
    color: white;
}

.news .about p{
    background-color: var(--primary-color);
    padding: 7px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    text-transform: capitalize;
    width: fit-content;
}
.news .about h4{
    font-weight:var(--font-weight-semibold);
    font-size: var(--h4-font-size);
}
.news .about-small{
    padding:25px 15px;
    font-weight: bold;
}

.news .about-small h4 a{
    text-decoration: none;
    color: #000;
}
.news .about-small h4 a:hover{
    color : var(--primary-color)
}

.news .about-small span{
    background-color:#34d4d4;
    padding: 7px 10px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    margin-right: 1rem;
    font-weight:normal
}