:root{
    --white-color: #FFFFFF;
    --primary-color: #f44749;
    --secondary-color: #f3af24;
    --section-bg-color: #F9F9F9;
    --dark-color: #000000;
    --title-color: #565758;
    --news-title-color: #292828;
    --p-color: #717275;
    --border-color: #eaeaea;
    --border-radius-default: .25rem;
    --body-font-family: 'Montserrat', sans-serif;
    --h1-font-size: 76px;
    --h2-font-size: 56px;
    --h3-font-size: 42px;
    --h4-font-size: 28px;
    --h5-font-size: 26px;
    --h6-font-size: 22px;
    --p-font-size: 18px;
    --menu-font-size: 18px;
    --category-font-size: 14px;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}
.font-weight-semibold{
    font-weight: 600;
}
.font-weight-bold{
    font-weight: bold;
}
body{
    background: var(--white-color);
    font-family: var(--body-font-family);
    position: relative;
}
nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
nav .button{
    flex-basis:100%
}
nav .reserv{
    padding: 10px 35px;
    font-size: 18px;
}
nav ul li a{
    color: var(--p-color) !important;
}
nav ul li a:hover{
    color:var(--primary-color) !important;
}
.active{
    color:var(--primary-color) !important;
}
footer{
    background-image: url(../images/footer.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    padding: 7rem 0;
    position: relative;
}
footer h2{
    font-weight:var(--font-weight-semibold)
}
footer::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--dark-color), transparent 200%);
    z-index: 0;
}
footer .container{
    position: relative;
}
footer .container .row div:nth-child(2){
    padding-left: 3rem !important;
}

@media (max-width: 767px){
    footer .container .row div:nth-child(2){
    padding-left: 15px !important;
}
}
footer .btn-direction{
    background-color: #212529;
    color:#AAA;
    padding: 10px 35px;
    border:0;
    transition: 0.3s;
    margin-top: 10px;
    font-size:18px;
}
footer .btn-direction:hover{
    background-color: #1c1f23;
    color: #FFFFFF;
    border: 0;
}
footer ul li a svg{
    font-size: 25px;
    color: var(--p-color);
}
footer li:hover svg{
    color: white;
}
footer h4{
    margin-bottom: 25px;
    font-weight:600
}
footer p{
    color:#AAA;
    font-size:18px
}