header{
    background-image: url(../images/header/luisa-brimble-aFzg83dvnAI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
    position: relative;
}
header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--dark-color), transparent 100%);
    top: 0;
    right: 0;
    z-index: 0;
}
header div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
}
header div h1{
    font-size:var(--h1-font-size);
    margin: 0;
    margin-bottom: 15px;
    font-weight:bold;
}
header div p{
    font-size: 16px;
    font-weight:bold;
}
.sec-heading{
    font-size:var(--h2-font-size);
    font-weight: var(--font-weight-bold);
    color: #000000;
}
.rate span svg{
    color: var(--secondary-color);
}

@media (max-width: 767.98px) { 
    header div h1{
        font-size: 45px;
    }
    .sec-heading{
        font-size: 40px;
    }
}

.lunch{
    background-color: var(--section-bg-color);
}

.breakfast,.lunch ,.dinner{
    padding:5rem 0;
}

footer{
    background-image: url(/images/footer.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    padding: 7rem 0;
    position: relative;
}